/* Animations */
header {
    transition: background-color .3s;
}

.line-1 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000; 
    animation: anim-line1 2s ease-in-out forwards;
    transform-origin: top right;
}

.arrow-to-cta {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000; 
    animation: anim-arrow-cta 5s ease-in-out forwards;
}
.btn-primary {
    .about-cta-rectangle {
        transition: transform .6s;
        transform-origin: right
    }
    &:hover {
        .about-cta-rectangle {
            transform: scaleX(0);   
        }
    }
}

.card {
    &:hover {
        animation: anim-card .4s ease-out forwards;
    }
}

@keyframes anim-line1 {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes anim-arrow-cta {
    to {
        stroke-dashoffset: 0;
    }
} 
@keyframes anim-card {
    
    to {
        transform: translateY(-15px);
    }
} 

